@font-face {
  font-family: DINWeb;
  src: url(../fonts/dinweb.eot);
}
 
/* then for WOFF-capable browsers */
@font-face {
  font-family: DINWeb;
  src: url(../fonts/dinweb.woff) format("woff");
}

* {
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  position: relative;
  background-color: #100516;
}

a {
  color: #d427aa;
  text-decoration: none;
}

.hidden {
  display: none;
}

#container {
  margin-right: auto;
  margin-left: auto;
  bottom: 50px;
  position: relative;
}

section {
  clear: both;
  margin: 50px auto;
  position: relative;
  top: 20px;
}

.max-width {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

#hero {
  height: 120px;
}

  #hero h1 {
    font-family: DINWeb;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    color: white;
    letter-spacing: 14px;
    font-style: italic;
    position: relative;
    top: 42px;
    font-weight: 100;
  }

    #hero h1 a {
      color: white;
      cursor: pointer;
    }

h2 {
  font-size: 19px;
  font-weight: 900;
  font-family: DINWeb;
  font-style: bold;;
  color: #ddd;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 4px;
  margin: 0px 0px 0px 0px;
}

p {
  font-family: DINWeb;
  font-size: 15px;
  color: #ddd;
}

.button {
  color: white;
  background-color: #00b1a3;
  padding: 6px 7px 3px 6px;
  font-size: 14px;
}
  
  #video_section #poster {
    position: relative;
    height: 505px;
  }

    #video_poster_image {
      cursor: pointer;
      position: absolute;
      z-index: 2;
      opacity: 1;
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      -ms-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
    }

      #video_poster_image.fade-out {
        opacity: 0;
        pointer-events: none;
      }

    #video_section iframe {
      width: 100%;
      height: 505px;
      background: #121013;
      opacity: 0;
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      -ms-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
    }

      #video_section iframe.fade-in {
        opacity: 1;
      }

#music_section {
  margin-top: 80px;
  margin-bottom: 20px;
}

  #music_section iframe {
    margin-right: 50px;
    margin-bottom: 40px;
    float: left;
  }
  
#show_section {
  color: #ddd;
}

#contact {
  padding: 0 0 0 20px;
  max-width: 400px;
  float: left;
}
  
  #contact p {
    line-height: 1.6;
    margin: 0;
    color: #ddd;
  }

  #contact h2 {
    margin-bottom: 20px;
  }

#band_photo {
  position: relative;
  margin-top: 40px;
}

#bio_text {
    margin: 60px auto 0px auto;
    position: relative;
    display: block;
    max-width: 600px;
    width: calc(100% - 40px);
}

#bio_text h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

#bio_text p {
  line-height: 1.6;
}

#press_text p {
  margin-bottom: -6px;
}
